
// Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '~bootstrap-vue/src/index.scss';


@mixin desktop {
    @media (min-width: 770px) {
        @content
    }
}

.body {
    max-width: 100%;
}

.col-md-8, .col-lg-9 {
    padding-left: 0;
    padding-right: 0;
}

.sidebar {
    box-shadow: 0px 0px 15px 0.5px;
    z-index: 401;
}

label {
    display: inline-block;
    margin-bottom: 0.1rem;
}

.form-group {
    margin-bottom: .2rem;
}


